In [1]:
import pandas as pd #datenbereinigung/processing
import numpy as np
from sklearn.model_selection import train_test_split #datensatz splitten in train und test- datensätze
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv("train.csv")
print(data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [3]:
data = data.drop(["Name" , "Ticket" , "PassengerId"] , axis=1) # diese zeilen werden gelöscht, da nicht binär
print(data)

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.0      1      0   7.2500   NaN        S
1           1       1  female  38.0      1      0  71.2833   C85        C
2           1       3  female  26.0      0      0   7.9250   NaN        S
3           1       1  female  35.0      1      0  53.1000  C123        S
4           0       3    male  35.0      0      0   8.0500   NaN        S
..        ...     ...     ...   ...    ...    ...      ...   ...      ...
886         0       2    male  27.0      0      0  13.0000   NaN        S
887         1       1  female  19.0      0      0  30.0000   B42        S
888         0       3  female   NaN      1      2  23.4500   NaN        S
889         1       1    male  26.0      0      0  30.0000  C148        C
890         0       3    male  32.0      0      0   7.7500   NaN        Q

[891 rows x 9 columns]

In [4]:
data['Sex'].replace("female", 1 ,inplace=True)
data['Sex'].replace("male", 0 ,inplace=True)
data = data.fillna(0)
print(data)

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    0  22.0      1      0   7.2500     0        S
1           1       1    1  38.0      1      0  71.2833   C85        C
2           1       3    1  26.0      0      0   7.9250     0        S
3           1       1    1  35.0      1      0  53.1000  C123        S
4           0       3    0  35.0      0      0   8.0500     0        S
..        ...     ...  ...   ...    ...    ...      ...   ...      ...
886         0       2    0  27.0      0      0  13.0000     0        S
887         1       1    1  19.0      0      0  30.0000   B42        S
888         0       3    1   0.0      1      2  23.4500     0        S
889         1       1    0  26.0      0      0  30.0000  C148        C
890         0       3    0  32.0      0      0   7.7500     0        Q

[891 rows x 9 columns]

In [5]:
Y = data["Survived"]
X = data.drop(["Survived" , "Cabin" , "Embarked"] , axis = 1)

In [6]:
dummies = pd.get_dummies(data['Pclass'], prefix='Pclass')
dummies2 = pd.get_dummies(data['Embarked'], prefix='Embarked')


X = X.join((dummies.loc[:, 'Pclass_1':]))
X = X.join((dummies2.loc[:, 'Embarked_0':]))

In [10]:
clf = LogisticRegression(max_iter = 500 , n_jobs=-1)

train_x, test_x , train_y , test_y = train_test_split(X , Y)

In [11]:
clf.fit(train_x, train_y)

LogisticRegression(max_iter=500, n_jobs=-1)

In [13]:
coef = pd.DataFrame({"features" : train_x.columns,
                     "coef" : clf.coef_[0],
                     "odds_ratio" : np.exp(clf.coef_[0])})
coef[['features', 'coef', 'odds_ratio']]

      features      coef  odds_ratio
0       Pclass -0.654933    0.519477
1          Sex  2.600556   13.471225
2          Age -0.015533    0.984587
3        SibSp -0.287957    0.749794
4        Parch  0.011360    1.011425
5         Fare  0.000090    1.000090
6     Pclass_1  0.286523    1.331789
7     Pclass_2  0.102509    1.107947
8     Pclass_3 -0.382158    0.682387
9   Embarked_0  0.173723    1.189726
10  Embarked_C  0.109754    1.116003
11  Embarked_Q -0.062150    0.939742
12  Embarked_S -0.214453    0.806983

In [14]:
accuracy_score(clf.predict(test_x), test_y)

0.820627802690583